* {
    font-family: 'Montserrat', sans-serif;
}

header {
    min-height:550px;
    overflow: hidden;
}

@media(min-width: 1400px) {
    header {
        min-height: 600px;
    }
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('rijksmuseumcut.png') no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Arvo', serif;
    position: relative;
}


header h1 {

    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 450%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;

}
header h5{
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 120%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;
    margin-top: 67pt;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


#info {
    padding-top: 0px;
    padding-bottom: 0px;
    background: rgba(104,104,104,0.25);
    font-family: 'Arvo', serif;
    top: 550px;
    right: 0px;
    position: absolute;
}

#explanation{
    min-height: 250px;
}

.row.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;

}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.thumbnail {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.greybackground {
     backgound-color: green;
 }


.selection {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.selection:hover .overlay {
    opacity: 0.6;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arvo', serif;
}

.selector-header {
    color: black;
}

@media(max-width: 1114px) {
    .meisjetext {
        margin-bottom: 33px;
    }
}

@media(max-width: 991px) {
    .meisjetext {
        margin-top: 40px;
        margin-bottom: 23px;
    }
}

@media(max-width: 831px) {
    .meisjetext {
        margin-top: 46px;
        margin-bottom: 50px;
    }
}

@media(max-width: 767px) {
    .meisjetext {
        margin-bottom: 0px;
    }
}