* {
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    /*Disable the selecting of text (Which might accidentally happen while hovering)*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.clickable {
    cursor: pointer;
}

header {
    min-height:550px;
    overflow: hidden;
}

@media(min-width: 1400px) {
    header {
        min-height: 600px;
    }
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../images/museum_old.jpg') no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Arvo', serif;
    position: relative;
    color: white;
}

header h1 {
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 450%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;

}
header h5{
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 120%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;
    margin-top: 67pt;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


#info {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Arvo', serif;
    position: absolute;
    height: 124px;
    right: 0;
    bottom: 100px;
}

#explanation{
    min-height: 250px;
}

.row.row-no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.thumbnail {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.greybackground {
     backgound-color: green;
}

.selection {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.selection:hover .overlay {
    opacity: 0.6;
    cursor: pointer;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arvo', serif;
}

.selector-header {
    color: black;
}

@media(max-width: 1230px) {
    .meisjetext {
        margin-bottom: 33px;
    }
}

@media(max-width: 991px) {
    .meisjetext {
        margin-top: 40px;
        margin-bottom: 23px;
    }
}

@media(max-width: 767px) {
    .meisjetext {
        margin-bottom: 0px;
    }
}