.printbutton {
    padding-top: 10px;
    margin-top: 20px;
}

.printbutton span {
    font-size: 250%;
    color: black;
    padding-top: 30px;
}

.disclaimer {
    visibility: hidden;
}

@media print {
    .printbutton {
        display: none;
    }

    .disclaimer {
        visibility: visible;
    }
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
}

