* {
    font-family: 'Montserrat', sans-serif;
}

.row.row-no-margin {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#buttontext {
    color: red;
    visibility: hidden;
}

.col-no-padding {
    padding: 0 !important;
    margin: 0 !important;
    float: left;
}


.thumbnail {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    margin-top: 0 !important;
}

.selection {
    position: relative;
    width: 50%;
    border-width: 5px;
    border-style: double;
    border-color: white;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;

}

.selection:hover .overlay {
    opacity: 0.5;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arvo', serif;
}

.selector-header {
    color: black;
}
.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}
header {
    min-height: 120px;
    overflow: hidden;
}

header h1 {
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 450%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;

}
header h5{
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 120%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;
    margin-top: 67pt;
}

#header-text {
    z-index: -1;
}

.header-image {
    font-family: 'Montserrat', sans-serif;
}