.row.row-no-margin {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;

}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.thumbnail {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    margin-top: 0 !important;
}

.selection {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;

}

.selection:hover .overlay {
    opacity: 0.4;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Arvo', serif;
}

.selector-header {
    color: black;
}