* {
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

header {
    min-height:400px;
    overflow: hidden;
}

#header-pointer, .header-text {
    cursor: pointer;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../css/museum_old.jpg') no-repeat scroll center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Arvo', serif;
    position: relative;
}

header h1 {
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 450%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;
    cursor: pointer;
}
header h5{
    cursor: pointer;
    background: rgba(104,104,104,0.45);
    color: white;
    font-size: 120%;
    min-width: 260pt;
    max-width: 260pt;
    position: fixed;
    margin-top: 67pt;
}

#page-filler-top {
    min-height: 140px;
}

#page-filler-top h3 {
    padding-top: 20px;
}

.fancy-button {
    margin-top: 40px;
    height: 60px;
}

.routes {
    height: 950px;
    background-color: #F7F8FA;
}

div.photodiv {
    height: 400px;
    margin-bottom: 30px;
}

div.photodiv img {
    background-color: white;
    border: 40px solid white;
    margin-top: 40px;
    cursor: pointer;
}

.img {

}

@media (max-width: 991px) {
    .fancy-button {
        margin-top:10px;
    }
}

@media (max-width: 767px) {


    .header h5, .header h1 {
        position: relative;
    }
    .routes {
        height: 1800px;
    }

}